[Desktop Entry]
Name=Fabric Dots Nowardev
X-KDE-PluginInfo-Name=on
X-KDE-PluginInfo-Author=on
X-KDE-PluginInfo-Email=nowardev@gmail.com
X-KDE-PluginInfo-License=gpl


